# DagsHub MLflow tracking server
MLFLOW_TRACKING_URI=https://dagshub.com/MathieuGasnier-Git/insightapi-mlops.mlflow
MLFLOW_TRACKING_USERNAME=<your-dagshub-username>
MLFLOW_TRACKING_PASSWORD=<your-dagshub-token>
